<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="endpoint" value="https://mobivement.documents.azure.com:443/" />
    <add key="authKey" value="ScpOn5lwKqNKavhZZK4OVRVbhkOnqx4H4TnkL92R4MdssoEXH53Z456fa31ZRtIydunxY38mo6TN6hD8NsMXKg==" />
    <add key="database" value="mobivementfood" />
    <add key="collection" value="Carros" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>